// Define variables for your color scheme

// // For example (default):
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// For example:
$red: #b22727;
$blue: #006e7f;
$yellow: #f8cb2e;
$orange: #ee5007;
// $orange: #e85b19; VARIANTE?
$green: #108d55;
$gray: #000f06;
$light-gray: #f4f4f4;

// Colors given :
$red-pastel: #9c5741;
$pink-pastel: #b97456;
$green-pastel: #5e6738;
$lightgreen-pastel: #a8baa2;
