body {
  margin: 0 auto;
  font-family: 'Darker Grotesque', sans-serif; // test typo
}

h1 {
  font-family: 'Dream Avenue', sans-serif;
}

h2 {
  font-family: 'Migra Extrabold', sans-serif;
}
h3 {
  font-family: 'Migra Extrabold', sans-serif;
}
h4 {
  font-family: 'Migra Extrabold', sans-serif;
}

p {
  font-family: 'Darker Grotesque', sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}
