<section id="main-banner" class="h-screen relative bg-[url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)] bg-cover bg-center bg-no-repeat flex flex-col justify-center">
    <div
    class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60"
  ></div>

  <div
    class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-4xl font-extrabold text-white sm:text-6xl drop-shadow">
        Gastronomie simple
        <strong class="font-extrabold text-pink-pastel sm:block drop-shadow">
          Jeune et responsable
        </strong>
      </h1>

      <p class="mt-4 text-lg leading-relaxed text-white shadow sm:text-2xl">
        Un restaurant parisien évocateur de souvenirs pour en créer de nouveaux.
      </p>

      <div class="flex flex-wrap justify-center gap-4 mt-8">

        <%= link_to "Réservez votre table", new_booking_path, class: "block w-56 sm:w-full px-12 py-3 text-base sm:text-lg font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>

        <%# <a
          class="block w-full px-12 py-3 text-sm font-medium text-teal-600 rounded shadow hover:text-teal-700 focus:outline-none focus:ring active:text-teal-500 sm:w-auto"
          href="/about"
        >
          Learn More
        </a> %>
      </div>
    </div>
  </div>
</section>
