<div class="container bg-white">
  <div class="flex flex-col sm:flex-row sm:justify-between">
    <div class="flex flex-col sm:w-6/12 sm:justify-center"
       >
      <h2 class="text-3xl font-semibold text-pink-pastel text-center sm:text-4xl">
       Un florilège de flacons
      </h2>
      <p class="text-base sm:text-lg leading-relaxed font-normal text-center sm:text-left my-2 sm:my-6">
       A l'image de cette cuisine qualitative et généreuse, Félix propose une sélection de vins, natures mais pas que, avec plus de 40 références à la carte. Des cuvées coups de cœur issues de nos plus beaux terroirs, respectueuses des sols, de la nature et de nos futures générations.
      </p>
      <h3 class="text-base sm:text-lg text-center leading-relaxed font-semibold text-pink-pastel my-2 sm:my-6">Parce que chaque bouteille vide est remplie de souvenirs...</h3>

      <div class="flex justify-center gap-4 my-4 max-sm:hidden">
        <%= link_to "Découvez notre restaurant", restaurant_path, class: "block w-full px-12 py-3 text-base sm:text-lg font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>

    <img class="object-cover w-full max-sm:h-56 sm:w-6/12 sm:h-screen sm:py-20 sm:pl-16" src="https://images.wakelet.com/resize?id=cjwyd-CN6GKGdl5LdrJn3&h=1023&w=1536&q=85#"
      <%= @animation_right %> >

    <div class="flex justify-center my-3 sm:hidden"
      <%= @animation_left %> >
      <%= link_to "Découvez notre restaurant", restaurant_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
    </div>
  </div>
</div>
