<div class="container bg-white my-16">
  <div class="grid gap-16 md:grid-cols-2 sm:grid-cols-1 my-16" style="height:110vh">
    <div class="flex flex-col items-start justify-center gap-8">
      <h3 class="text-3xl font-semibold text-pink-pastel">Venez découvrir notre cuisine </h3>
      <p class="text-base">
       <strong>Ryuji y balance des assiettes</strong> aux influences japonaises, en sublimant les produits de saison français, issus d’un sourcing responsable.
       <br>
       <br>
       Des saveurs qui raisonneront avec de jolis vins proposés par <strong>Félix</strong>, pour nous embarquera dans une expérience conviviale.
      </p>
      <div class="flex justify-center gap-4 mt-4">
        <%= link_to "Découvez notre restaurant", restaurant_path, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-pink-pastel rounded shadow bg-red-pastel:hover focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>
    <div class="grid content-center justify-items-center">
      <img style="width: 45vw; height: 110vh; object-fit: cover;" src="https://images.unsplash.com/photo-1577219491135-ce391730fb2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2hlZiUyMGNvb2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60">
    </div>
  </div>
</div>
