<div class="container bg-white my-8 sm:my-16">
  <div class="flex flex-col text-center items-center">
    <h2 class="text-3xl font-extrabold text-pink-pastel sm:text-5xl">Menu</h2>
    <p class="text-base italic">(Différent le midi, le soir et le week-end)</p>
    <br>
    <p class="text-base sm:text-lg leading-relaxed font-normal w-4/5">
    Eunoé, c’est une cuisine créative, généreuse et conviviale qui fait la part belle aux produits de saison et de la région. Nous avons sélectionné pour vous les plus beaux ingrédients issus des meilleurs fournisseurs locaux.
    Chez Eunoé, les produits sont magnifiés par le barbecue japonais dont le charbon spécial appelé « binchotan » permet des cuissons lentes et donne aux aliments un goût unique.
    </p>
    <div class="flex justify-center sm:gap-4 sm:mt-4">
        <%= link_to "Découvez notre carte", meals_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto my-2" %>
    </div>
  </div>

  <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-52 max-sm:my-6" src="https://images.wakelet.com/resize?id=6Nvch3ibpsqfm6FGV6QHw&h=2304&w=1536&q=85#" alt=""
    <%= @animation_left %> >

  <div class="flex flex-col sm:flex-row sm:justify-between">
    <img class="max-sm:hidden sm:object-cover sm:w-6/12 sm:h-[80vh] sm:py-12 sm:pr-10" src="https://images.wakelet.com/resize?id=6Nvch3ibpsqfm6FGV6QHw&h=2304&w=1536&q=85#" alt=""
      <%= @animation_left %> >

    <div class="meal-infos flex flex-col sm:w-6/12 sm:justify-center"
      <%= @animation_right %> >
      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Déjeuner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">15/26 €</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-2 sm:mb-3">Il est composé de 2 choix d'entrées, 3 choix de plats et 2 desserts. <br>
        Un menu déjeuner qui change au fil des semaines, pour s'adapter aux produits et aux saisons. Le plat du jour est à 14€ et la formule complète à 26€ (du mardi au vendredi).</p>
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/fSCYL68-OqKyP6Oz1K3SuffijmIySE?sig=7e01eb40a0ffc26e85e211425c717bb44385f40b58fce57394d01070049139b9" target="_blank" rel="noopener noreferrer" class="px-6 py-2 sm:px-7 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu midi</a>
      </div>

      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Diner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">35/55 €</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-2 sm:mb-3">
          Il est composé de 4 choix d'entrées, 3 choix de plats et 2 desserts selon les saisons. <br>
          Pour le dîner, nous vous proposons des produits plus travaillés et raffinés pour une expérience plus subtile et complète (de mardi à dimanche, y compris les déjeuners du week-end).
        </p>
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/pH9XCpq4s9Xnv1neUKPg0lWb77OYS7?sig=f121e9bd9da33bace957b2e1c951a178fc775843e1152a7ef0b19d7de530dc29" target="_blank" rel="noopener noreferrer" class="px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu soir</a>
      </div>

      <%# <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Dimanche midi</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">11/27 €</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-2 sm:mb-3">
          Eunoé vous propose 6 entrées ou assiettes de convivialité à vous partager (ou non).
        </p>
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/gef-xAdL66pNHJMdLmbDCKksCOrtBo?sig=396070c66cc11ee99bdfc1b34a8265a491ce1a6c6f94252d2431cde54cbac5bd" target="_blank" rel="noopener noreferrer" class="px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu Dimanche</a>
      </div> %>

      <div class="">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour la Saint Valentin</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">180€ / 2pers</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-2 sm:mb-3">
          Eunoé vous propose pour commencer des amuses bouches, suivi d'une entrée, puis d'un plat, et pour finir d'un dessert. <br>
          En fonction de votre humeur, on se partage des assiettes ou non.
        </p>
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/bfAdv7QU8OgGsXuKxtA_O5o6MbG0GG?sig=2a6f3409b011f3af97d436bd86f77a067963f9b5d3d8b2ddfffd4cde6a4fd023" target="_blank" rel="noopener noreferrer" class="px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu Saint Valentin</a>
      </div>
    </div>

  </div>
</div>
