<div class="container bg-white my-8 sm:my-16">
  <div class="flex flex-col text-center items-center">
    <h2 class="text-3xl font-extrabold text-pink-pastel sm:text-5xl">Menu Eunoé</h2>
    <p class="text-base italic">(Différent le midi et le soir)</p>
    <br>
    <p class="text-base sm:text-lg leading-relaxed font-normal w-4/5">
    L'exigence du produit se traduit dans le respect qu’il apporte aux bêtes qu’il travaille.
    Ryuji reçoit des bêtes entières, afin de les valoriser et de pouvoir offrir un bon rapport qualité-prix aux clients.
    Vous pourrez déguster le travail du chef toujours avec une déclinaison de piquillos : crus, cuits et fermentés ; ainsi que "le Binchotan", une technique signature, si l’on peut dire : ce barbecue japonais avec un charbon spécial du pays, qui donne un goût très particulier aux aliments.
    </p>
  </div>

  <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-52 max-sm:my-6" src="https://images.wakelet.com/resize?id=6Nvch3ibpsqfm6FGV6QHw&h=2304&w=1536&q=85#" alt=""
    <%= @animation_left %> >

  <div class="flex flex-col sm:flex-row sm:justify-between">
    <img class="max-sm:hidden sm:object-cover sm:w-6/12 sm:h-[80vh] sm:py-12 sm:pr-10" src="https://images.wakelet.com/resize?id=6Nvch3ibpsqfm6FGV6QHw&h=2304&w=1536&q=85#" alt=""
      <%= @animation_left %> >

    <div class="meal-infos flex flex-col sm:w-6/12 sm:justify-center"
      <%= @animation_right %> >
      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Déjeuner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">14/26 €</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-1 sm:mb-3">Il est composé de 2 choix d'entrées, 3 choix de plats et 2 desserts selon les saisons. <br>
        Nous vous proposons une bonne cuisine certes, mais surtout une expérience et une bonne ambiance. Sans oublier d’être accessible à tous, notamment avec un menu déjeuner très attractif, dans lequel le plat du jour est à 14€ et la formule complète à 26€.</p>
      </div>

      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Diner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">35/50 €</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-1 sm:mb-3">Il est composé de 5 choix d'entrées, 3 choix de plats et 2 desserts selon les saisons. Nos produits sont frais et trier sur le volet pour le bonheur de vos papilles. Pour le diner nous vous proposons des produits plus rafinés pour une expérience plus subtile et complète.  Nous vous invitons à les découvrir.</p>
      </div>
      <div class="flex justify-center sm:gap-4 sm:mt-4">
        <%= link_to "Découvez notre carte", meals_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>

  </div>
</div>
