<div class="container bg-white my-8 sm:my-16">
  <div class="flex flex-col text-center">
    <h2 class="text-3xl font-extrabold text-pink-pastel sm:text-5xl">Menu Eunoé</h2>
    <p class="text-base italic">(Différent le soir, samedi et dimanche midi)</p>
    <br>
    <p class="text-base sm:text-lg leading-relaxed font-normal">Les gourmands apprécieront <strong>le mélange subtil des saveurs et des épices dans nos plats</strong>. Fermez les yeux et expérimentez une explosion de saveur en bouche mais aussi un voyage instantané vers Bangkok. Parmi les plats les plus populaires en restaurant, retrouvez le Pad Thai, sauté dans le fameux ‘wok’!</p>
  </div>

  <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-52 max-sm:my-6" src="https://images.unsplash.com/photo-1579631542761-d7c4e913f8d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="">

  <div class="flex flex-col sm:flex-row sm:justify-between">
    <%# # maybe an img in futur %>
    <img class="max-sm:hidden sm:object-cover sm:w-6/12 sm:h-screen sm:py-12 sm:pr-10" src="https://images.unsplash.com/photo-1579631542761-d7c4e913f8d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="">

    <div class="meal-infos flex flex-col sm:w-6/12 sm:justify-center">
      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Déjeuner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">30/40</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-1 sm:mb-3">Il est composé de 2 choix d'entrées, 3 choix de plats et 2 desserts. Nos produits sont frais et trier sur le volet pour le bonheur de vos papilles. Nous vous invitons à les découvrir.</p>
      </div>

      <div class="mb-3 sm:mb-6">
        <div class="flex flex-row mb-1 sm:mb-3">
          <h3 class="text-lg sm:text-xl font-bold mr-1">Pour le Diner</h3>
          <span class="grow border-black border-b border-dotted mb-3 mr-2 ml-2"></span>
          <p class="text-lg sm:text-xl font-bold ml-1">38/50</p>
        </div>
        <p class="text-base sm:text-lg leading-relaxed font-light mb-1 sm:mb-3">Il est composé de 2 choix d'entrées, 3 choix de plats et 2 desserts. Nos produits sont frais et trier sur le volet pour le bonheur de vos papilles. Nous vous invitons à les découvrir.</p>
      </div>
      <div class="flex justify-center sm:gap-4 sm:mt-4">
        <%= link_to "Découvez notre carte", meals_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow bg-red-pastel:hover focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>

  </div>
</div>
