<div class="container bg-white max-sm:mt-4">
  <div class="flex flex-col sm:flex-row sm:justify-between">

    <img class="max-sm:hidden sm:object-cover sm:w-6/12 sm:h-screen sm:py-20 sm:pr-16" src="https://images.wakelet.com/resize?id=DjPB4rSjbliETBD0kqQf-&h=2304&w=1536&q=85#" alt="Exterior of the restaurant"
      <%= @animation_left %> >

    <div class="flex flex-col sm:w-6/12 sm:justify-center"
       >
      <h2 class="text-3xl font-extrabold text-pink-pastel sm:text-4xl text-center sm:text-justify my-2">Privatiser Eunoé pour vos évènements</h2>
        <p class="text-base sm:text-lg leading-relaxed font-normal text-center sm:text-justify my-2 sm:my-4">
          Un lieu convivial de 40 places assises et 60 en cocktail avec une cuisine ouverte donnant sur le square Gardette. Nos baies vitrées s'ouvrent entièrement sur notre terrasse, ce qui vous permettra d'être à la fois en extérieur et en intérieur.
        </p>
        <p class="text-base sm:text-lg leading-relaxed font-normal text-center sm:text-justify">
          Des peintures artistiques d’Agnes, la vaisselle en céramique de Lola, des tables centenaires restaurées par Quentin, le tout mis en scène par Annabelle Fesquet. Privatisation de 25 à 60 personnes en semaine comme le weekend, en cocktail ou assis(e).
        </p>
        <div class="flex justify-center sm:gap-4 mt-2 sm:mt-10">
          <%= link_to "En savoir plus", privatisation_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
        </div>
    </div>
    <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-52 max-sm:my-6" src="https://images.wakelet.com/resize?id=DjPB4rSjbliETBD0kqQf-&h=2304&w=1536&q=85#" alt="Exterior of the restaurant"
      <%= @animation_left %> >
  </div>
</div>
