<div class="container bg-white">
  <div class="flex flex-col sm:flex-row sm:justify-between">

    <img class="max-sm:hidden sm:object-cover sm:w-5/12 sm:h-screen sm:py-20 sm:pr-10" src="https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Exterior of the restaurant">

    <div class="flex flex-col sm:w-7/12 sm:justify-center">
      <h2 class="text-3xl font-extrabold text-pink-pastel sm:text-5xl text-center sm:text-justify">Privatiser EUNOE pour vos évènements</h2>
        <p class="text-sm sm:text-base font-normal text-center sm:text-justify my-2">
          Privatisable entièrement ou en partie, en semaine comme le week-end. Dalia peut accueillir jusqu’à 150 personnes en cocktail et 120 personnes en diner assis.
          Un lieu convivial de 40 places assises et 60 en cocktail avec une cuisine ouverte donnant sur le square Gardette.
        </p>
        <p class="text-sm sm:text-base font-normal text-center sm:text-justify">
          Des peintures artistiques d’Agnes, la vaisselle en céramique de Lola, des tables centenaires restaurées par Quentin, le tout mise en scène par Annabelle Fesquet.
          Privatisation de 25 à 60 personnes en semaine comme le weekend, en cocktail ou assis(e).
        </p>
    </div>
    <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-52 max-sm:my-6" src="https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Exterior of the restaurant">
  </div>
</div>
