<div class="container">
  <div class="grid gap-8 sm:gap-10 py-6 sm:py-12 md:grid-cols-2 sm:grid-cols-1">
    <div <%= @animation_left %> >
      <img src="https://images.wakelet.com/resize?id=-T3FJqosVvHKiSBDQx2eK&h=1137&w=1536&q=85#" class="object-cover w-full sm:h-screen sm:py-20" alt="">
      <%# <%= image_tag "Eunoé_restaurant_Paris_11.jpg", class:"object-cover w-full  sm:h-screen sm:py-20" %>
    </div>
    <div class="flex flex-col items-center sm:items-start justify-center gap-2 sm:gap-6"
       >
      <h2 class="text-3xl text-center font-extrabold sm:font-bold text-pink-pastel sm:text-4xl">Un restaurant parisien animé et inspiré</h2>
      <p class="text-center sm:text-justify text-base sm:text-lg leading-relaxed">
        Situé à deux pas de l’Atelier des Lumières, en face du square Gardette dans le 11ème arrondissement de Paris, le restaurant EUNOE vous transporte dans les souvenirs du Chef Ryuji Sato (ex : Nomicos*, Violon d’Ingres*) dans une atmosphère qui appelle aux rires, aux échanges et au partage. <br> <br>
        Une ambiance chaleureuse alimenté par le savoir-être et le savoir-faire de son hôte Félix Perrotte, qui vous fera découvrir des accords mets et vin selon vos envies.
      </p>
      <p class="text-center sm:text-justify text-base sm:text-lg leading-relaxed">Chez Eunoé, le chef Ryuji entend mettre à profit son expérience pour proposer une cuisine française traditionnelle tout juste agrémentée des apports de sa culture japonaise et de ses rencontres.
      <br>
      </p>
      <%# <p class="text-xl text-center font-bold sm:font-bold text-red-pastel sm:text-2xl">Notre ambition est de faire une gastronomie jeune, comme nous !</p> %>
    </div>
  </div>
</div>
