<div class="container">
  <div class="grid gap-8 sm:gap-12 md:gap-16 py-6 sm:py-40 md:grid-cols-2 sm:grid-cols-1">
    <%= image_tag "Eunoé_restaurant_Paris_11.jpg", class:"object-cover w-full  sm:h-screen sm:py-20" %>
    <div class="flex flex-col items-center sm:items-start justify-center gap-2 sm:gap-6"
      <%= @animation_right %> >
      <h2 class="text-3xl text-center font-extrabold sm:font-bold text-pink-pastel sm:text-4xl">Eunoé, un restaurant parisien Animé et Inspiré</h2>
      <p class="text-center sm:text-justify text-base sm:text-lg leading-relaxed">
        Situé à deux pas de l’atelier des Lumières, en face du square Gardette dans le 11ème arrondissement de Paris, le restaurant EUNOE vous transporte dans les souvenirs de Ryuji Sato (ex : Nomicos*, Violon d’Ingres*) dans une atmosphère qui appelle aux rires, aux échanges et au partage. <br> <br>
        Une ambiance chalheureuse alimenté par le savoir-être et le savoir-faire de son hôte Félix Perrotte, qui vous fera découvrir des accords mets et vin selon vos envies.
      </p>
      <p class="text-center sm:text-justify text-base sm:text-lg leading-relaxed">Chez Eunoé, le chef Ryuji entend mettre à profit son expérience pour proposer une cuisine française traditionnelle tout juste agrémentée des apports de sa culture japonaise.
      <br>
      </p>
      <p class="text-xl text-center font-bold sm:font-bold text-red-pastel sm:text-2xl">Notre ambition est de faire une gastronomie jeune, comme nous !</p>
    </div>
  </div>
</div>
