<div class="container mx-4 mt-24 sm:px-8 sm:py-8 lg:px-8 lg:py-16">
  <%= link_to "Back", :back %>
  <h1 class="mb-4 font-medium">Modifier la réservation</h1>
  <%= render "shared/form", booking: @booking %>
</div>
