<h1>Booking index - for admin only</h1>
<p> To implement here : bookings list with admin interface & commands</p>
<ul>
  <% @booking.each do |booking| %>
    <li><%= booking.last_name %></li>
  <% end %>
</ul>
