
<div class="container">
  <h1 class="my-20 text-3xl font-extrabold sm:text-5xl">Gérez vos réservations</h1>

  <div class="flex justify-end">
    <a href="<%= new_booking_path %>" class="inline-block px-12 py-3 my-4 text-sm font-medium text-white bg-green-600 border rounded hover:bg-transparent hover:text-green-600 focus:outline-none focus:ring active:text-green-500 hover:cursor-pointer">Add a booking</a>
  </div>
  <div class="overflow-hidden overflow-x-auto border border-gray-200 rounded-lg">
    <div class="flex flex-col items-start w-full"><%= render "bookings/bookings-table", bookings: Booking.where('bookings.date >= ?', Date.today) %></div>
  </div>
</div>
