<div class="banner">
    <img src="" alt="">
    <h1>Présentation du restaurant</h1>
    <button>Réserver</button>
</div>

<div class="container">

  <div class="container-infos">
    <div class="img">
      <img src="" alt="">
    </div>
    <div class="infos">
      <h3>Titre infos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum eius delectus architecto neque commodi ratione sequi quidem, quo ex obcaecati doloribus iste distinctio magni quas ea temporibus inventore laboriosam?</p>
    </div>
  </div>

  <div class="container-infos">
    <div class="infos">
      <h3>Titre infos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum eius delectus architecto neque commodi ratione sequi quidem, quo ex obcaecati doloribus iste distinctio magni quas ea temporibus inventore laboriosam?</p>
    </div>
    <div class="img">
      <img src="" alt="">
    </div>
  </div>

  <div class="container-infos">
    <div class="img">
      <img src="" alt="">
    </div>
    <div class="infos">
      <h3>Titre infos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum eius delectus architecto neque commodi ratione sequi quidem, quo ex obcaecati doloribus iste distinctio magni quas ea temporibus inventore laboriosam?</p>
    </div>
  </div>

  <div class="container-infos">
    <div class="infos">
      <h3>Titre infos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum eius delectus architecto neque commodi ratione sequi quidem, quo ex obcaecati doloribus iste distinctio magni quas ea temporibus inventore laboriosam?</p>
    </div>
    <div class="img">
      <img src="" alt="">
    </div>
  </div>

</div>
