<div class="container bg-white">
  <div class="flex flex-col sm:flex-row sm:justify-between">
    <div class="flex flex-col sm:w-6/12 sm:justify-center"
      <%= @animation_left %> >
      <h3 class="text-3xl leading-relaxed font-semibold text-pink-pastel text-center sm:text-justify sm:text-4xl">Titre 2 Description</h3>
      <p class="text-base sm:text-lg leading-relaxed font-normal text-center sm:text-justify my-2 sm:my-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ab impedit fuga molestias nostrum cum, aspernatur minus culpa esse rerum modi minima obcaecati nulla ea officiis nisi, id recusandae. Quidem, est hic ab voluptates quisquam minus! Commodi praesentium ea officiis odit odio neque quaerat enim officia tempore tenetur. Soluta repellat sint, repellendus nulla harum odit dolorem itaque eum, corrupti quos eaque praesentium dolore eveniet doloribus ullam asperiores cum illo vel provident labore!
      </p>
      <div class="max-sm:hidden flex justify-center my-1 sm:gap-4 sm:mt-4">
        <%= link_to "Découvez notre carte", meals_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>

    <img class="object-cover w-full max-sm:h-56 sm:w-6/12 sm:h-screen sm:py-20 sm:pl-16" src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="Interior of the restaurant"
      <%= @animation_right %> >
    <div class="sm:hidden flex justify-center my-1 sm:gap-4 sm:mt-4 sm:hidden">
      <%= link_to "Découvez notre carte", meals_path, class: "block w-full px-12 py-3 text-base sm:text-lg text-center font-medium text-white bg-pink-pastel rounded shadow bg-red-pastel:hover focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
    </div>

  </div>
</div>
