<div class="container">
  <h2 class="text-3xl sm:text-4xl leading-relaxed font-semibold text-pink-pastel text-center m-6">On ne veut pas catégoriser Eunoé</h2>
  <div class="flex flex-col sm:flex-row justify-around items-center mb-12">
    <div class="flex flex-col justify-center items-center sm:w-1/2 sm:m-1"
      <%= @animation_left %> >
      <img class="object-cover w-full max-sm:h-56 sm:h-80 sm:py-2" src="https://images.wakelet.com/resize?id=QQQU7LgW_FLOk0-XT-9tn&h=2304&w=1536&q=85#ê" alt="">
      <h4 class="text-xl sm:text-2xl leading-relaxed font-semibold text-pink-pastel text-center m-1 sm:m-3">Un bistro ? un gastro ? un restaurant ? </h4>
      <p class="text-base sm:text-lg leading-relaxed text-center font-light sm:w-4/5 sm:m-2 max-sm:mb-6">Des goûts authentiques, une cuisine généreuse et de qualité, aux diverses influences ! Une gastronomie décomplexée : « Chez Eunoé, on mange très bien, mais on ne lève pas les cloches ».</p>
    </div>
    <div class="flex flex-col justify-center items-center sm:w-1/2 sm:m-1"
      <%= @animation_right %> >
      <img class="object-cover w-full max-sm:h-56 sm:h-80 sm:py-2" src="https://images.wakelet.com/resize?id=gdNMFzvyuvErOcZ95IO2l&h=2304&w=1536&q=85#" alt="">
      <h4 class="text-xl sm:text-2xl leading-relaxed font-semibold text-pink-pastel text-center m-1 sm:m-3">Habiller l'émotion de l'instant pour longtemps</h4>
      <p class="text-base sm:text-lg leading-relaxed text-center font-light sm:w-4/5 sm:m-2">La décoration s’est inspirée de la définition même d’Eunoé : l’empreinte du souvenir. Comme la nature qui se veut imparfaite, marquée d’accidents, de vécu, d’histoires, il y a beaucoup d’objets chinés, authentiques. </p>
    </div>
  </div>
</div>
