<div class="container">
  <h2 class="text-3xl sm:text-4xl leading-relaxed font-semibold text-pink-pastel text-center m-6">Nos Évènements de l'année 2022 qui en photo</h2>
  <div class="flex flex-col sm:flex-row justify-around items-center mb-12">
    <div class="flex flex-col justify-center items-center sm:w-1/2 sm:m-1">
      <img class="object-cover w-full max-sm:h-56 sm:h-80 sm:py-2" src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <h4 class="text-xl sm:text-2xl leading-relaxed font-semibold text-pink-pastel text-center m-1 sm:m-3">Évènement 1</h4>
      <p class="text-base sm:text-lg leading-relaxed text-center font-light sm:w-4/5 sm:m-2 max-sm:mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at, inventore officia enim quaerat sed?</p>
    </div>
    <div class="flex flex-col justify-center items-center sm:w-1/2 sm:m-1">
      <img class="object-cover w-full max-sm:h-56 sm:h-80 sm:py-2" src="https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
      <h4 class="text-xl sm:text-2xl leading-relaxed font-semibold text-pink-pastel text-center m-1 sm:m-3">Évènement 2</h4>
      <p class="text-base sm:text-lg leading-relaxed text-center font-light sm:w-4/5 sm:m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at, inventore officia enim quaerat sed?</p>
    </div>
  </div>
</div>
