<section class="h-screen relative bg-[url(https://images.unsplash.com/photo-1564759298141-cef86f51d4d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80)]
                bg-cover bg-center bg-no-repeat
                flex flex-col justify-center">

  <div class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60">
  </div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-5xl font-extrabold text-white ">
        La Carte <strong class="font-extrabold text-pink-pastel ">Eunoé</strong>
      </h1>
    </div>
  </div>
</section>

<div class="container" data-controller="navtabs">

  <div class="flex flex-col m-8">
    <nav>
      <ul class="flex flex-row text-center justify-center m-2">
        <li><button class="text-xl px-5 py-2 m-2 border rounded-xl drop-shadow bg-red-pastel text-white" data-action='click->navtabs#displayLunch' data-navtabs-target="tab1">Déjeuner</button></li>
        <li><button class="text-xl px-9 py-2 m-2 border rounded-xl drop-shadow" data-action='click->navtabs#displayDinner' data-navtabs-target="tab2">Diner</button></li>
      </ul>
    </nav>
    <h2 class="flex justify-center text-center text-md font-light italic">Notre carte Eunoé change en fonction de la restauration <br>du midi et du soir. </h2>
  </div>

  <%= render "lunch" %>

  <%= render "dinner" %>

</div>
