<section class="h-screen relative bg-[url(https://images.wakelet.com/resize?id=_hHbZiRmlTXKCta8O1zNc&h=2304&w=1536&q=85#)]
                bg-cover bg-bottom bg-no-repeat
                flex flex-col justify-center">

  <div class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60">
  </div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-5xl sm:text-6xl font-extrabold text-white drop-shadow">
        La Carte <strong class="font-extrabold text-pink-pastel ">Eunoé</strong>
      </h1>
      <div class="flex flex-row justify-center items-center m-4">
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/KFnXOG9Rc0v-COp2Ti5LiQHx3O58OE?sig=57382f61981ea7e0b364699f440bd39b59efc9426c96659e66797077ca08e51c" target="_blank" rel="noopener noreferrer" class="m-2 sm:m-4 px-6 py-2 sm:px-7 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu midi</a>
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/lMZGJJ8pefOVBRAihp8TyiBJU051xc?sig=cb2a08ad1f4b33dffdc746a05712b2e65fff486267bb2d298d183e60baa0696e" target="_blank" rel="noopener noreferrer" class="m-2 sm:m-4 px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu soir</a>
      </div>
    </div>
  </div>
</section>

<div class="container" data-controller="navtabs">

  <div class="flex flex-col m-4 sm:m-8">
    <nav>
      <ul class="flex flex-row text-center justify-center sm:m-2">
        <li><button class="text-xl px-6 py-2 m-1 sm:m-2 border rounded-xl drop-shadow bg-red-pastel text-white" data-action='click->navtabs#displayLunch' data-navtabs-target="tab1">Déjeuner</button></li>
        <li><button class="text-xl px-9 py-2 m-1 sm:m-2 border rounded-xl drop-shadow" data-action='click->navtabs#displayDinner' data-navtabs-target="tab2">Diner</button></li>
      </ul>
    </nav>
    <h2 class="flex justify-center text-center text-sm font-light italic mt-1">Notre carte Eunoé change en fonction de la restauration <br class="max-sm:hidden">du midi et du soir. </h2>
  </div>

  <% @animation_left =  'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-left_2s_ease-in-out] ' %>
  <% @animation_right = 'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-right_2s_ease-in-out] ' %>

  <%= render "lunch" %>

  <%= render "dinner" %>
  <%# Dinner - Change animation to a Var if no-repeat fixed %>

</div>
