<section class="h-screen relative bg-[url(https://images.wakelet.com/resize?id=_hHbZiRmlTXKCta8O1zNc&h=2304&w=1536&q=85#)]
                bg-cover bg-bottom bg-no-repeat
                flex flex-col justify-center">

  <div class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60">
  </div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-5xl sm:text-6xl font-extrabold text-white drop-shadow">
        La Carte <strong class="font-extrabold text-pink-pastel ">Eunoé</strong>
      </h1>
      <div class="flex flex-row justify-center place-items-start m-4">
        <div class="flex flex-col justify-center m-2 sm:m-4">
          <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/WqbrTk1A5FxZ-n2S5lTjCFWoQHoo-y?sig=9883c27eee608018f0dba4abe88fefc461cb4537a2e01aaffc0eb07093594579" target="_blank" rel="noopener noreferrer" class=" px-6 py-2 sm:px-7 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu midi </a>
          <span class="text-white text-center text-xs sm:text-sm">du mardi au vendredi</span>
        </div>
        <div class="flex flex-col justify-center m-2 sm:m-4">
          <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/pH9XCpq4s9Xnv1neUKPg0lWb77OYS7?sig=f121e9bd9da33bace957b2e1c951a178fc775843e1152a7ef0b19d7de530dc29" target="_blank" rel="noopener noreferrer" class=" px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu soir</a>
          <span class="text-white text-center text-xs sm:text-sm">du mardi au dimanche</span>
        </div>
      </div>

      <%# ------ Event : Nouvel event %>
      <%# <div class="flex flex-col justify-center m-2 sm:m-4">
        <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/bfAdv7QU8OgGsXuKxtA_O5o6MbG0GG?sig=2a6f3409b011f3af97d436bd86f77a067963f9b5d3d8b2ddfffd4cde6a4fd023" target="_blank" rel="noopener noreferrer" class=" px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu Saint Valentin</a>
      </div> %>
      <%# ------ Stop Content Event : Nouvel event %>
    </div>
  </div>
</section>

<div class="container" data-controller="navtabs">

  <div class="flex flex-col m-4 sm:m-8">
    <nav>
      <%# ------ Content Event : Nouvel event (change the Nav, add ul tag)
      <ul class="flex flex-row text-center justify-center items-center my-2">
        <%# <li><a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/gef-xAdL66pNHJMdLmbDCKksCOrtBo?sig=396070c66cc11ee99bdfc1b34a8265a491ce1a6c6f94252d2431cde54cbac5bd" target="_blank" rel="noopener noreferrer" class="px-2 py-2 sm:px-4 sm:text-xl text-lg text-center font-medium text-white bg-pink-pastel rounded-xl shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto m-2"><i class="fa-regular fa-circle-down pr-2"></i>Dimanche</a></li> %>
        <%# <li><a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/bfAdv7QU8OgGsXuKxtA_O5o6MbG0GG?sig=2a6f3409b011f3af97d436bd86f77a067963f9b5d3d8b2ddfffd4cde6a4fd023" target="_blank" rel="noopener noreferrer" class="px-2 py-2 sm:px-4 sm:text-xl text-lg text-center font-medium text-white bg-pink-pastel rounded-xl shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2"></i>Saint Valentin</a></li>
      </ul> %>
      <%# ------ Stop Content Event : Nouvel event %>
      <ul class="flex flex-row text-center justify-center items-center sm:m-2">
        <li><button class="sm:text-xl text-lg sm:px-6 px-3 py-2 m-1 sm:m-2 border rounded-xl drop-shadow bg-red-pastel text-white" data-action='click->navtabs#displayLunch' data-navtabs-target="tab1">Déjeuner</button></li>
        <li><button class="sm:text-xl text-lg sm:px-9 px-5 py-2 m-1 sm:m-2 border rounded-xl drop-shadow" data-action='click->navtabs#displayDinner' data-navtabs-target="tab2">Dîner</button></li>
      </ul>

    </nav>
    <p class="flex justify-center text-center sm:text-base text-sm font-semilight italic mt-1">Notre carte Eunoé change en fonction de la restauration <br class="max-sm:hidden">du midi et du soir <br>(Carte du soir inclus les Samedi, Dimanche midi et jours fériés)</p>
  </div>

  <% @animation_left =  'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-left_2s_ease-in-out] ' %>
  <% @animation_right = 'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-right_2s_ease-in-out] ' %>

  <%= render "lunch" %>

  <%= render "dinner" %>
  <%# Dinner - Change animation to a Var if no-repeat fixed %>

</div>
