<section class="h-screen relative bg-[url(https://images.wakelet.com/resize?id=_hHbZiRmlTXKCta8O1zNc&h=2304&w=1536&q=85#)]
                bg-cover bg-bottom bg-no-repeat
                flex flex-col justify-center">

  <div class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60">
  </div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-5xl sm:text-6xl font-extrabold text-white drop-shadow">
        La Carte <strong class="font-extrabold text-pink-pastel ">Eunoé</strong>
      </h1>
      <div class="flex flex-row justify-center place-items-start m-4">
        <div class="flex flex-col justify-center m-2 sm:m-4">
          <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/E6Z1WgLZho7hDnmvUKJdp_tV-QWhJd?sig=4fecc723143b820ed10604f59d34413eee6e8c743902c6453b193f657041784b" target="_blank" rel="noopener noreferrer" class=" px-6 py-2 sm:px-7 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu midi </a>
          <span class="text-white text-center text-xs sm:text-sm">du mardi au vendredi</span>
        </div>
        <div class="flex flex-col justify-center m-2 sm:m-4">
          <a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/B7JycwKrT9FLlauwz67i95fL8a-PGh?sig=9fa52467820368d3cd0bf10630355ebd36195b9f3343fb641817a6a326606e17" target="_blank" rel="noopener noreferrer" class=" px-6 py-2 sm:px-8 text-sm sm:text-base  text-center font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"><i class="fa-regular fa-circle-down pr-2 sm:pr-4"></i> Menu soir</a>
          <span class="text-white text-center text-xs sm:text-sm">du mardi au samedi*</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container" data-controller="navtabs">

  <div class="flex flex-col m-4 sm:m-8">
    <nav>
      <ul class="flex flex-row text-center justify-center items-center sm:m-2">
        <li><button class="sm:text-xl text-lg sm:px-6 px-4 py-2 m-1 sm:m-2 border rounded-xl drop-shadow bg-red-pastel text-white" data-action='click->navtabs#displayLunch' data-navtabs-target="tab1">Déjeuner</button></li>
        <li><button class="sm:text-xl text-lg sm:px-9 px-6 py-2 m-1 sm:m-2 border rounded-xl drop-shadow" data-action='click->navtabs#displayDinner' data-navtabs-target="tab2">Dîner</button></li>
        <li><button class="sm:text-xl text-lg sm:px-6 px-4 py-2 m-1 sm:m-2 border rounded-xl drop-shadow text-black"><a href="https://6qvxwpjda8.execute-api.eu-west-1.amazonaws.com/docs/gef-xAdL66pNHJMdLmbDCKksCOrtBo?sig=396070c66cc11ee99bdfc1b34a8265a491ce1a6c6f94252d2431cde54cbac5bd" target="_blank" rel="noopener noreferrer" >Dimanche</a></button></li>
      </ul>
    </nav>
    <p class="flex justify-center text-center text-sm font-semilight italic mt-1">Notre carte Eunoé change en fonction de la restauration <br class="max-sm:hidden">du midi et du soir <br>(Carte du soir inclus les Samedi midi et jours fériés)</p>
  </div>

  <% @animation_left =  'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-left_2s_ease-in-out] ' %>
  <% @animation_right = 'data-te-animation-init ' +
                        'data-te-animation-start= onScroll ' +
                        'data-te-animation= [fade-in-right_2s_ease-in-out] ' %>

  <%= render "lunch" %>

  <%= render "dinner" %>
  <%# Dinner - Change animation to a Var if no-repeat fixed %>

</div>
