.bg-pink-pastel {
  background-color: #B97456;
}
.bg-pink-pastel:hover {
  background-color: #9C5741;
}

.bg-red-pastel {
  background-color: #9C5741;
}
.bg-red-pastel:hover {
  background-color: #B97456;
}


.bg-green-pastel {
  background-color: #5E6738;
}

.bg-lightgreen-pastel {
  background-color: #A8BAA2;
}
